#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  margin-bottom: 20px;
}

.blue {
  background-color: #fcf2f2;
  border-color: #fcf2f2;
}

.red {
  background-color: #fcf2f2;
  border-color: #fcf2f2;
}

.green {
  background-color: #fcf2f2;
  border-color: #fcf2f2;
}

.changed {
  background-color: lightyellow;
  transition: background-color 0.5s ease;
  color: #1a1a1a;
}
