#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  margin-bottom: 20px;
}

.blue {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.red {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.green {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.changed {
  background-color: #cce5ff;
  transition: background-color 0.5s ease;
}
