:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

table {
    border-collapse: collapse;
    margin-bottom: 0;
}

table tr {
    /*border-bottom: 2px solid #ffffff;*/
}

table td {
    border: 2px solid #ffffff;
}

.no-border {
    border: none;
}

.border-bottom {
    border-bottom: 1px solid #385CD3;
}

.frame {
    border: 1px solid #385CD3;
    padding: 1px;
    margin: 1px 1px 30px;
}

.primary {
    background-color: #385CD3;
    color: #ffffff;
}

.secondary {
    background-color: #829AE7;
}

.flex {
    display: flex;
}
